:root {
  font-family: "Jetbrains Mono";
}

body {
  margin: unset;
}

div:has(a > span) {
  padding: 1rem;
}

a:has(span > h1) {
  padding: 2rem;
  display: inline-block;
  text-decoration: none;
  color: black;

  border-radius: 2rem;

  transition: box-shadow 0.3s;
}

a:has(span > h1):hover {
  text-decoration: underline;
}

span:has(h1) {
  gap: 0.5rem;
  display: flex;
  align-items: baseline;
}

h1 {
  margin: unset;
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  margin: unset;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Jaldi";
}

svg:has(rect.blink) {
  width: 0.5rem;
  height: 0.5rem;
}

.blink {
  width: inherit;
  height: inherit;
  fill: black;
  animation: blink 2s steps(2, jump-none) infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

nav {
  padding: 0 3rem;
  max-width: min-content;
}

nav > a {
  text-decoration: none;

  font-size: 1rem;
  font-family: "JetBrains Mono";

  color: black;

  gap: 1rem;
  display: inline-flex;
  align-items: flex-end;

  margin-bottom: 1rem;
}

nav > a:active {
  color: black;
}

nav > a svg rect {
  width: inherit;
  height: inherit;
  fill: black;
}

nav > a:hover span {
  opacity: 1;
  transform: translateX(0);
}

nav > a:hover svg {
  border-radius: 100%;
  transform: rotate(180deg);
}

nav > a:nth-child(2) svg rect {
  fill: #3d3d3d;
}

nav > a:nth-child(3) svg rect {
  fill: #636363;
}

nav > a:nth-child(4) svg rect {
  fill: #b9b9b9;
}

nav > a span {
  opacity: 0;
  transform: translateX(-3rem);
  transition: opacity 0.3s, transform 1s;
}

nav > a svg {
  width: 2rem;
  height: 2rem;
  z-index: 1;
  transition: all 1s;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
