html {
  --origin-x: calc(var(--x-corner) * 1px + 1rem);
  --origin-y: calc(var(--y-corner) * 1px + 1rem);
}

html:not(.to-home).is-changing .transition-reveal {
  z-index: 1;
  animation: circular-reveal 2.5s;
}

html:not(.to-home).is-changing
  .transition-reveal:not(.is-previous-container)
  .origin {
  opacity: 0;
  animation: hide-origin 2s 1.25s;
}

@keyframes circular-reveal {
  0% {
    clip-path: circle(0rem at var(--origin-x) var(--origin-y));
  }
  40% {
    clip-path: circle(1.5rem at var(--origin-x) var(--origin-y));
  }
  100% {
    clip-path: circle(150% at var(--origin-x) var(--origin-y));
  }
}

@keyframes hide-origin {
  to {
    opacity: 1;
  }
}

html:not(.to-home) .transition-reveal.is-previous-container {
  z-index: 0;
  animation: unset;
}

html.to-home {
  --half-square-size: calc(var(--square-size) / 2);
  --final-x: calc(var(--x-corner) * 1px + 0.25rem);
  --final-y: calc(var(--y-corner) * 1px + 0.25rem);
  --start-x: calc(var(--final-x) - var(--half-square-size));
  --start-y: calc(var(--final-y) - var(--half-square-size));
}

html.to-home.is-changing .transition-reveal {
  clip-path: xywh(
    var(--start-x) var(--start-y) var(--square-size) var(--square-size)
  );

  transition: clip-path 1s ease-in-out;
}

html.to-home .transition-reveal.is-previous-container {
  clip-path: xywh(var(--final-x) var(--final-y) 0% 0%);
}
