.about .main-link {
  color: white;
}

.about .blink {
  fill: white;
}

.about .nav-link a {
  color: white;
}

.about .nav-link a:active {
  color: white;
}

.about .nav-link a:visited {
  color: white;
}

.about .nav-link:nth-child(1) svg rect {
  fill: hsl(calc(var(--color-angle)), 100%, 100%);
}

.about .nav-link:nth-child(2) svg rect {
  fill: hsl(calc(var(--color-angle)), 100%, 80%);
}

.about .nav-link:nth-child(3) svg rect {
  fill: hsl(calc(var(--color-angle)), 100%, 60%);
}

.about .nav-link:nth-child(4) svg rect {
  fill: hsl(calc(var(--color-angle)), 100%, 40%);
}

.about main {
  color: white;
}

.about main:not(.welcome) {
  color: black;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 0.5rem;
}

.about #background {
  display: grid;
  grid-template-areas: "bg";
  background-color: hsl(var(--color-angle), 100%, 5%);
}

.about #background #sphere {
  grid-area: bg;

  -webkit-filter: blur(200px);
  filter: blur(200px);
}

.about #background #glow {
  grid-area: bg;
  mix-blend-mode: overlay;

  -webkit-filter: blur(60px);
  filter: blur(60px);
}

.about #background #shadow {
  grid-area: bg;
  mix-blend-mode: overlay;

  -webkit-filter: blur(80px);
  filter: blur(80px);
}

.about #background #squares {
  grid-area: bg;
  mix-blend-mode: overlay;
}
