.main .main-link {
  color: black;
}

.main .blink {
  fill: black;
}

.main .nav-link a {
  color: black;
}

.main .nav-link a:active {
  color: black;
}

.main .nav-link a:visited {
  color: black;
}

.main .nav-link:nth-child(1) svg rect {
  fill: black;
}

.main .nav-link:nth-child(2) svg rect {
  fill: #3d3d3d;
}

.main .nav-link:nth-child(3) svg rect {
  fill: #636363;
}

.main .nav-link:nth-child(4) svg rect {
  fill: #b9b9b9;
}

.main {
  background-color: white;
}

.main #background {
  display: grid;
  grid-template-areas: "bg";
}

.main #background #full-blur {
  grid-area: bg;
  filter: blur(6px);
  opacity: 0.4;
}

.main #background #medium-blur {
  grid-area: bg;
  filter: blur(3px);
  opacity: 0.7;
}

.main #background #no-blur {
  grid-area: bg;
}
